@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(62, 184, 255);
    font-family: "Roboto", sans-serif;
}

.container {
    /* background-color: rgb(255, 254, 254); */
    background-color: white;
    width: 50% ;
    margin: 10% auto;
    border-radius: 10px;
    box-shadow: 0 8px 16px gray;
    
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.row .log{
    padding: 30px;
    width: 50%;
}

.row .log .header{
    text-align: center;
}

.row .log .header h4{
    font-weight: 300;
}

form{
    width: 100%;
    padding: 0 15px;
}

form input , form textarea{
    display: block;
    width: 100%;
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    margin: 3px 0 20px 0 ;
    border: 1px solid #cdcdcd;
    outline: 0;
    /* color:rgb(249, 223, 245) ; */
    
}

/* تغيير لون ال بليسهولدرk */
form input::placeholder{
    color: #cdcdcd;
}

button{
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 20px ;
    border: none;
    background-color: rgb(62, 184, 255);
    color: white;
    border: 1px solid rgb(62, 184, 255);
    font-size: 15px;
    transition: all .3s ease;
}

button:hover{
    background-color: transparent;
    color: rgb(62, 184, 255);

}

.row .imag{
    width: 50%;
    
}

.row .imag img{
    max-width: 100%;
    height: 100%;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}





/* iPad Media */
@media (max-width: 1200px) {


    .container{
        width: 60%;
    }


    .row .log{
        padding: 30px;
        width: 100%;
    }

    .row .imag{
        width: 100%;
    
    }

    .row .imag img{
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0;
    }



}

@media (max-width: 800px) {

    .container{
        width: 80%;
    }


}
